body {
  height: 100vh;
}
:root {
  --main-color: #000;
  --secondary-color: #181818;
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: rgb(53, 52, 52);
  --select-bg: rgba(255, 255, 255, 0.2);

  a{
   text-decoration: none;
   color: white;
  }
}